//imports
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
//variables
$lato-font: 'Lato', sans-serif;
$squada-font: 'Squada One', cursive;
$jetbrains-font: 'JetBrains Mono', monospace;
$primary-color: rgba(212,103,76,1);
$secondary-color: rgba(103,114,126,1);
$light-color: rgba(221,229,231,1);
$dark-color: rgba(51,51,51,1);
$container: 1280px;
$bg-image: url(../img/2.jpg);

//utilidades
.lead{
    font-size: 1.5rem;
    line-height: 3rem;
}
.container{
    max-width: $container;
    margin: 0 auto;
}
.button{
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: inline-block;
    border-bottom: 2px solid transparent;
    transition: all 0.8s;
    &-light{
        color: $light-color;
        &:hover{
            color: $light-color;
            text-decoration: none;
        }
    }
    &-dark{
        color: $dark-color;
    }
    &-primary{
        color: $primary-color;
    }
    &-secondary{
        color: $secondary-color;
    }
    &:hover{
        border-bottom-color: $primary-color;
        background-color: rgba(221,229,231,0.5);
        text-decoration: none;
    }
    &:focus{
        border-color: $primary-color;
        background-color: rgba(221,229,231,0.5);
        outline: none;
    }
}
.my{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.mx{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.py{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.px{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.pt{
    padding-top: 1.5rem;
}